@import "globals.css";

/*

This file is a collection of all the 
background colors that are used in the design system.

The color names are based on variables from the globals.css file. 
Variables are set on the :root element, so they're accessible everywhere.

Each class will automatically use the correct colors based on the theme.

Background Color utility classes also set the optimal text color for child elements,
if there are any.

*/


.bg-primary {
    background-color: var(--golden-primary);
    color: var(--golden-onprimary);
    --state-color: var(--golden-onprimary);
}


.bg-onprimary {
    background-color: var(--golden-onprimary);
    color: var(--golden-primary);
    --state-color: var(--golden-primary);
}

.bg-primarycontainer {
    background-color: var(--golden-primarycontainer);
    color: var(--golden-onprimarycontainer);
    --state-color: var(--golden-onprimarycontainer);
}

.bg-onprimarycontainer {
    background-color: var(--golden-onprimarycontainer);
    color: var(--golden-primarycontainer);
    --state-color: var(--golden-primarycontainer);
}

.bg-secondary {
    background-color: var(--golden-secondary);
    color: var(--golden-onsecondary);
    --state-color: var(--golden-onsecondary);
}

.bg-onsecondary {
    background-color: var(--golden-onsecondary);
    color: var(--golden-secondary);
    --state-color: var(--golden-secondary);
}

.bg-secondarycontainer {
    background-color: var(--golden-secondarycontainer);
    color: var(--golden-onsecondarycontainer);
    --state-color: var(--golden-onsecondarycontainer);
}

.bg-onsecondarycontainer {
    background-color: var(--golden-onsecondarycontainer);
    color: var(--golden-secondarycontainer);
    --state-color: var(--golden-secondarycontainer);
}

.bg-tertiary {
    background-color: var(--golden-tertiary);
    color: var(--golden-ontertiary);
    --state-color: var(--golden-ontertiary);
}

.bg-ontertiary {
    background-color: var(--golden-ontertiary);
    color: var(--golden-tertiary);
    --state-color: var(--golden-tertiary);
}

.bg-tertiarycontainer {
    background-color: var(--golden-tertiarycontainer);
    color: var(--golden-ontertiarycontainer);
    --state-color: var(--golden-ontertiarycontainer);
}

.bg-ontertiarycontainer {
    background-color: var(--golden-ontertiarycontainer);
    color: var(--golden-tertiarycontainer);
    --state-color: var(--golden-tertiarycontainer);
}

.bg-error {
    background-color: var(--golden-error);
    color: var(--golden-onerror);
    --state-color: var(--golden-onerror);
}

.bg-onerror {
    background-color: var(--golden-onerror);
    color: var(--golden-error);
    --state-color: var(--golden-error);
}

.bg-errorcontainer {
    background-color: var(--golden-errorcontainer);
    color: var(--golden-onerrorcontainer);
    --state-color: var(--golden-onerrorcontainer);
}

.bg-onerrorcontainer {
    background-color: var(--golden-onerrorcontainer);
    color: var(--golden-errorcontainer);
    --state-color: var(--golden-errorcontainer);
}

.bg-background {
    background-color: var(--golden-background);
    color: var(--golden-onbackground);
    --state-color: var(--golden-onbackground);
}

.bg-onbackground {
    background-color: var(--golden-onbackground);
    color: var(--golden-background);
    --state-color: var(--golden-background);
}

.bg-surface {
    background-color: var(--golden-surface);
    color: var(--golden-onsurface);
    --state-color: var(--golden-onsurface);
}

.bg-onsurface {
    background-color: var(--golden-onsurface);
    color: var(--golden-surface);
    --state-color: var(--golden-surface);
}

.bg-surfacevariant {
    background-color: var(--golden-surfacevariant);
    color: var(--golden-onsurfacevariant);
    --state-color: var(--golden-onsurfacevariant);
}

.bg-onsurfacevariant {
    background-color: var(--golden-onsurfacevariant);
    color: var(--golden-surfacevariant);
    --state-color: var(--golden-surfacevariant);
}

.bg-outline {
    background-color: var(--golden-outline);
    color: var(--golden-surface);
    --state-color: var(--golden-surface);
}

.bg-outlinevariant {
    background-color: var(--golden-outlinevariant);
    color: var(--golden-onsurface);
    --state-color: var(--golden-onsurface);
}

.bg-shadow {
    background-color: var(--golden-shadow);
    color: var(--golden-surface);
    --state-color: var(--golden-surface);
}

.bg-scrim {
    background-color: var(--golden-scrim);
    color: var(--golden-surface);
    --state-color: var(--golden-surface);
}

.bg-inversesurface {
    background-color: var(--golden-inversesurface);
    color: var(--golden-inverseonsurface);
    --state-color: var(--golden-inverseonsurface);
}

.bg-inverseonsurface {
    background-color: var(--golden-inverseonsurface);
    color: var(--golden-inversesurface);
    --state-color: var(--golden-inversesurface);
}

.bg-inverseprimary {
    background-color: var(--golden-inverseprimary);
    color: var(--golden-onprimarycontainer);
    --state-color: var(--golden-onprimarycontainer);
}

.bg-success {
    background-color: var(--golden-success);
    color: var(--golden-onsuccess);
    --state-color: var(--golden-onsuccess);
}

.bg-successcontainer {
    background-color: var(--golden-successcontainer);
    color: var(--golden-onsuccesscontainer);
    --state-color: var(--golden-onsuccesscontainer);
}

.bg-onsuccess {
    background-color: var(--golden-onsuccess);
    color: var(--golden-success);
    --state-color: var(--golden-success);
}

.bg-onsuccesscontainer {
    background-color: var(--golden-onsuccesscontainer);
    color: var(--golden-successcontainer);
    --state-color: var(--golden-successcontainer);
}

.bg-warning {
    background-color: var(--golden-warning);
    color: var(--golden-onwarning);
    --state-color: var(--golden-onwarning);
}

.bg-warningcontainer {
    background-color: var(--golden-warningcontainer);
    color: var(--golden-onwarningcontainer);
    --state-color: var(--golden-onwarningcontainer);
}

.bg-onwarning {
    background-color: var(--golden-onwarning);
    color: var(--golden-warning);
    --state-color: var(--golden-warning);
}

.bg-onwarningcontainer {
    background-color: var(--golden-onwarningcontainer);
    color: var(--golden-warningcontainer);
    --state-color: var(--golden-warningcontainer);
}

.bg-info {
    background-color: var(--golden-info);
    color: var(--golden-oninfo);
    --state-color: var(--golden-oninfo);
}

.bg-infocontainer {
    background-color: var(--golden-infocontainer);
    color: var(--golden-oninfocontainer);
    --state-color: var(--golden-oninfocontainer);
}

.bg-oninfo {
    background-color: var(--golden-oninfo);
    color: var(--golden-info);
    --state-color: var(--golden-info);
}

.bg-oninfocontainer {
    background-color: var(--golden-oninfocontainer);
    color: var(--golden-infocontainer);
    --state-color: var(--golden-infocontainer);
}

.bg-primaryfixed {
    background-color: var(--golden-primaryfixed);
    color: var(--golden-onprimaryfixed);
    --state-color: var(--golden-onprimaryfixed);
}

.bg-primaryfixeddim {
    background-color: var(--golden-primaryfixeddim);
    color: var(--golden-onprimaryfixedvariant);
    --state-color: var(--golden-onprimaryfixedvariant);
}

.bg-onprimaryfixed {
    background-color: var(--golden-onprimaryfixed);
    color: var(--golden-primaryfixed);
    --state-color: var(--golden-primaryfixed);
}

.bg-onprimaryfixedvariant {
    background-color: var(--golden-onprimaryfixedvariant);
    color: var(--golden-primaryfixed);
    --state-color: var(--golden-primaryfixed);
}

.bg-secondaryfixed {
    background-color: var(--golden-secondaryfixed);
    color: var(--golden-onsecondaryfixed);
    --state-color: var(--golden-onsecondaryfixed);
}

.bg-secondaryfixeddim {
    background-color: var(--golden-secondaryfixeddim);
    color: var(--golden-onsecondaryfixedvariant);
    --state-color: var(--golden-onsecondaryfixedvariant);
}

.bg-onsecondaryfixed {
    background-color: var(--golden-onsecondaryfixed);
    color: var(--golden-secondaryfixed);
    --state-color: var(--golden-secondaryfixed);
}

.bg-onsecondaryfixedvariant {
    background-color: var(--golden-onsecondaryfixedvariant);
    color: var(--golden-secondaryfixed);
    --state-color: var(--golden-secondaryfixed);
}

.bg-tertiaryfixed {
    background-color: var(--golden-tertiaryfixed);
    color: var(--golden-ontertiaryfixed);
    --state-color: var(--golden-ontertiaryfixed);
}

.bg-tertiaryfixeddim {
    background-color: var(--golden-tertiaryfixeddim);
    color: var(--golden-ontertiaryfixedvariant);
    --state-color: var(--golden-ontertiaryfixedvariant);
}

.bg-ontertiaryfixed {
    background-color: var(--golden-ontertiaryfixed);
    color: var(--golden-tertiaryfixed);
    --state-color: var(--golden-tertiaryfixed);
}

.bg-ontertiaryfixedvariant {
    background-color: var(--golden-ontertiaryfixedvariant);
    color: var(--golden-tertiaryfixed);
    --state-color: var(--golden-tertiaryfixed);
}

.bg-surfacedim {
    background-color: var(--golden-surfacedim);
    color: var(--golden-onsurface);
    --state-color: var(--golden-onsurface);
}

.bg-surfacebright {
    background-color: var(--golden-surfacebright);
    color: var(--golden-onsurface);
    --state-color: var(--golden-onsurface);
}

.bg-surfacecontainerlowest {
    background-color: var(--golden-surfacecontainerlowest);
    color: var(--golden-onsurface);
    --state-color: var(--golden-onsurface);
}

.bg-surfacecontainerlow {
    background-color: var(--golden-surfacecontainerlow);
    color: var(--golden-onsurface);
    --state-color: var(--golden-onsurface);
}

.bg-surfacecontainer {
    background-color: var(--golden-surfacecontainer);
    color: var(--golden-onsurface);
    --state-color: var(--golden-onsurface);
}

.bg-surfacecontainerhigh {
    background-color: var(--golden-surfacecontainerhigh);
    color: var(--golden-onsurface);
    --state-color: var(--golden-onsurface);
}

.bg-surfacecontainerhighest {
    background-color: var(--golden-surfacecontainerhighest);
    color: var(--golden-onsurface);
    --state-color: var(--golden-onsurface);
}
