@import "globals.css";

/*

This file is a collection of all the 
background colors that are used in the design system.

The color names are based on variables from the globals.css file. 
Variables are set on the :root element, so they're accessible everywhere.

Named after material design variables, making it very simple to change color schemes. 
See colors.css for steps to create a custom color scheme.

*/


.bg-primary {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    --state-color: var(--md-sys-color-on-primary);
}


.bg-onprimary {
    background-color: var(--md-sys-color-on-primary);
    color: var(--md-sys-color-primary);
    --state-color: var(--md-sys-color-primary);
}

.bg-primarycontainer {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    --state-color: var(--md-sys-color-on-primary-container);
}

.bg-onprimarycontainer {
    background-color: var(--md-sys-color-on-primary-container);
    color: var(--md-sys-color-primary-container);
    --state-color: var(--md-sys-color-primary-container);
}

.bg-secondary {
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
    --state-color: var(--md-sys-color-on-secondary);
}


.bg-onsecondary {
    background-color: var(--md-sys-color-on-secondary);
    color: var(--md-sys-color-secondary);
    --state-color: var(--md-sys-color-secondary);
}

.bg-secondarycontainer {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    --state-color: var(--md-sys-color-on-secondary-container);
}

.bg-onsecondarycontainer {
    background-color: var(--md-sys-color-on-secondary-container);
    color: var(--md-sys-color-secondary-container);
    --state-color: var(--md-sys-color-secondary-container);
}


.bg-tertiary {
    background-color: var(--md-sys-color-tertiary);
    color: var(--md-sys-color-on-tertiary);
    --state-color: var(--md-sys-color-on-tertiary);
}


.bg-ontertiary {
    background-color: var(--md-sys-color-on-tertiary);
    color: var(--md-sys-color-tertiary);
    --state-color: var(--md-sys-color-tertiary);
}

.bg-tertiarycontainer {
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
    --state-color: var(--md-sys-color-on-tertiary-container);
}

.bg-ontertiarycontainer {
    background-color: var(--md-sys-color-on-tertiary-container);
    color: var(--md-sys-color-tertiary-container);
    --state-color: var(--md-sys-color-tertiary-container);
}

.bg-error {
    background-color: var(--md-sys-color-error);
    color: var(--md-sys-color-on-error);
    --state-color: var(--md-sys-color-on-error);
}


.bg-onerror {
    background-color: var(--md-sys-color-on-error);
    color: var(--md-sys-color-error);
    --state-color: var(--md-sys-color-error);
}

.bg-errorcontainer {
    background-color: var(--md-sys-color-error-container);
    color: var(--md-sys-color-on-error-container);
    --state-color: var(--md-sys-color-on-error-container);
}

.bg-onerrorcontainer {
    background-color: var(--md-sys-color-on-error-container);
    color: var(--md-sys-color-error-container);
    --state-color: var(--md-sys-color-error-container);
}


.bg-background {
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    --state-color: var(--md-sys-color-on-background);
}


.bg-onbackground {
    background-color: var(--md-sys-color-on-background);
    color: var(--md-sys-color-background);
    --state-color: var(--md-sys-color-background);
}

.bg-surface {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    --state-color: var(--md-sys-color-on-surface);
}


.bg-onsurface {
    background-color: var(--md-sys-color-on-surface);
    color: var(--md-sys-color-surface);
    --state-color: var(--md-sys-color-surface);
}


.bg-surfacevariant {
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
    --state-color: var(--md-sys-color-on-surface-variant);
}


.bg-onsurfacevariant {
    background-color: var(--md-sys-color-on-surface-variant);
    color: var(--md-sys-color-surface-variant);
    --state-color: var(--md-sys-color-surface-variant);
}

.bg-outline {
    background-color: var(--md-sys-color-outline);
    color: inherit;
    --state-color: var(--md-sys-color-outline);
}

.bg-outlinevariant {
    background-color: var(--md-sys-color-outline-variant);
    color: inherit;
    --state-color: var(--md-sys-color-outline-variant);

}

.bg-shadow {
    background-color: var(--md-sys-color-shadow);
    color: inherit;
    --state-color: var(--md-sys-color-shadow);
}

.bg-scrim {
    background-color: var(--md-sys-color-scrim);
    color: inherit;
    --state-color: var(--md-sys-color-scrim);
}


.bg-inversesurface {
    background-color: var(--md-sys-color-inverse-surface);
    color: var(--md-sys-color-surface);
    --state-color: var(--md-sys-color-surface);
}

.bg-inverseonsurface {
    background-color: var(--md-sys-color-inverse-on-surface);
    color: var(--md-sys-color-inverse-surface);
    --state-color: var(--md-sys-color-inverse-surface);
}

.bg-inverseprimary {
    background-color: var(--md-sys-color-inverse-primary);
    color: var(--md-sys-color-primary);
    --state-color: var(--md-sys-color-primary);
}

.bg-success {
    background-color: var(--md-extended-color-success-color);
    color: var(--md-extended-color-success-on-color);
    --state-color: var(--md-extended-color-success-on-color);
}

.bg-successcontainer {
    background-color: var(--md-extended-color-success-color-container);
    color: var(--md-extended-color-success-on-color-container);
    --state-color: var(--md-extended-color-success-on-color-container);
}

.bg-onsuccess {
    background-color: var(--md-extended-color-success-on-color);
    color: var(--md-extended-color-success-color);
    --state-color: var(--md-extended-color-success-color);
}

.bg-onsuccesscontainer {
    background-color: var(--md-extended-color-success-on-color-container);
    color: var(--md-extended-color-success-color-container);
    --state-color: var(--md-extended-color-success-color-container);
}


.bg-warning {
    background-color: var(--md-extended-color-warning-color);
    color: var(--md-extended-color-warning-on-color);
    --state-color: var(--md-extended-color-warning-on-color);
}

.bg-warningcontainer {
    background-color: var(--md-extended-color-warning-color-container);
    color: var(--md-extended-color-warning-on-color-container);
    --state-color: var(--md-extended-color-warning-on-color-container);
}

.bg-onwarning {
    background-color: var(--md-extended-color-warning-on-color);
    color: var(--md-extended-color-warning-color);
    --state-color: var(--md-extended-color-warning-color);
}

.bg-onwarningcontainer {

    background-color: var(--md-extended-color-warning-on-color-container);
    color: var(--md-extended-color-warning-color-container);
    --state-color: var(--md-extended-color-warning-color-container);
}

.bg-info {
    background-color: var(--md-extended-color-info-color);
    color: var(--md-extended-color-info-on-color);
    --state-color: var(--md-extended-color-info-on-color);
}

.bg-infocontainer {
    background-color: var(--md-extended-color-info-color-container);
    color: var(--md-extended-color-info-on-color-container);
    --state-color: var(--md-extended-color-info-on-color-container);
}

.bg-oninfo {
    background-color: var(--md-extended-color-info-on-color);
    color: var(--md-extended-color-info-color);
    --state-color: var(--md-extended-color-info-color);
}

.bg-oninfocontainer {

    background-color: var(--md-extended-color-info-on-color-container);
    color: var(--md-extended-color-info-color-container);
    --state-color: var(--md-extended-color-info-color-container);
}

.bg-primaryfixed {
    background-color: var(--md-sys-color-primary-fixed);
    color: var(--md-sys-color-on-primary-fixed);
    --state-color: var(--md-sys-color-on-primary-fixed);
}

.bg-onprimaryfixed {
    background-color: var(--md-sys-color-on-primary-fixed);
    color: var(--md-sys-color-primary-fixed);
    --state-color: var(--md-sys-color-primary-fixed);
}

.bg-primaryfixeddim {
    background-color: var(--md-sys-color-primary-fixed-dim);
    color: var(--md-sys-color-on-primary-fixed);
    --state-color: var(--md-sys-color-on-primary-fixed);
}

.bg-onprimaryfixedvariant {
    background-color: var(--md-sys-color-on-primary-fixed-variant);
    color: var(--md-sys-color-primary-fixed);
    --state-color: var(--md-sys-color-primary-fixed);
}

.bg-secondaryfixed {
    background-color: var(--md-sys-color-secondary-fixed);
    color: var(--md-sys-color-on-secondary-fixed);
    --state-color: var(--md-sys-color-on-secondary-fixed);
}

.bg-onsecondaryfixed {
    background-color: var(--md-sys-color-on-secondary-fixed);
    color: var(--md-sys-color-secondary-fixed);
    --state-color: var(--md-sys-color-secondary-fixed);
}

.bg-secondaryfixeddim {
    background-color: var(--md-sys-color-secondary-fixed-dim);
    color: var(--md-sys-color-on-secondary-fixed);
    --state-color: var(--md-sys-color-on-secondary-fixed);
}

.bg-onsecondaryfixedvariant {
    background-color: var(--md-sys-color-on-secondary-fixed-variant);
    color: var(--md-sys-color-on-secondary-fixed);
    --state-color: var(--md-sys-color-on-secondary-fixed);
}

.bg-tertiaryfixed {
    background-color: var(--md-sys-color-tertiary-fixed);
    color: var(--md-sys-color-on-tertiary-fixed);
    --state-color: var(--md-sys-color-on-tertiary-fixed);
}

.bg-ontertiaryfixed {
    background-color: var(--md-sys-color-on-tertiary-fixed);
    color: var(--md-sys-color-tertiary-fixed);
    --state-color: var(--md-sys-color-tertiary-fixed);
}

.bg-ontertiaryfixedvariant {
    background-color: var(--md-sys-color-tertiary-fixed);
    color: var(--md-sys-color-on-tertiary-fixed-variant);
    --state-color: var(--md-sys-color-on-tertiary-fixed-variant);
}

.bg-tertiaryfixeddim {
    background-color: var(--md-sys-color-tertiary-fixed-dim);
    color: var(--md-sys-color-on-tertiary-fixed);
    --state-color: var(--md-sys-color-on-tertiary-fixed);
}

.bg-surfacedim {
    background-color: var(--md-sys-color-surface-dim);
    color: var(--md-sys-color-on-surface);
    --state-color: var(--md-sys-color-on-surface);
}

.bg-surfacebright {
    background-color: var(--md-sys-color-surface-bright);
    color: var(--md-sys-color-on-surface);
    --state-color: var(--md-sys-color-on-surface);
}

.bg-surfacecontainerlowest {
    background-color: var(--md-sys-color-surface-container-lowest);
    color: var(--md-sys-color-on-surface);
    --state-color: var(--md-sys-color-on-surface);
}

.bg-surfacecontainerlow {
    background-color: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-on-surface);
    --state-color: var(--md-sys-color-on-surface);
}

.bg-surfacecontainer {
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
    --state-color: var(--md-sys-color-on-surface);
}

.bg-surfacecontainerhigh {
    background-color: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);
    --state-color: var(--md-sys-color-on-surface);
}

.bg-surfacecontainerhighest {
    background-color: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-on-surface);
    --state-color: var(--md-sys-color-on-surface);
}
