@import "globals.css";

.button {
    --spacer: calc(1.272em / 2.618);
    grid-column-gap: var(--spacer);
    grid-row-gap: var(--spacer);
    white-space: normal;
    word-break: keep-all;
    border: var(--golden-border-transparent);
    border-radius: var(--golden-border-radius-circle);
    justify-content: flex-start;
    align-items: center;
    padding: var(--spacer) 1em;
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;

    --state-color: var(--golden-shadow);
}


.button.outline {
    background-color: transparent;
    border: var(--golden-border);
}

.button.text {
    background-color: transparent;
}

.button.start-icon {
    padding-left: calc(calc(1em * var(--golden-line-height)) / 2.618);
}

.button.end-icon {
    padding-right: calc(calc(1em * var(--golden-line-height)) / 2.618);
}

.button__content {
    grid-column-gap: var(--spacer);
    grid-row-gap: var(--spacer);
    justify-content: center;
    align-items: center;
    display: flex;
}

.button.large {
    font-size: 1.272em;
}
