@import "globals.css";

.button,
button {
    --a: calc(1em * var(--halfstep-dec) * var(--wholestep) * var(--quarterstep));
    --b: calc(1em * var(--wholestep-dec));
    --c: calc(1em * var(--wholestep-dec) * var(--wholestep));
    grid-column-gap: var(--a);
    grid-row-gap: var(--a);
    white-space: normal;
    word-break: keep-all;
    border: var(--golden-border-transparent);
    border-radius: var(--xl);
    padding: var(--a) var(--c);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    font-weight: 600 !important;
    width: fit-content;
    height: fit-cowntent;

    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;

    --state-color: var(--golden-shadow);
}


a.button.outline,
button.outline,
.button.outline {
    background-color: transparent;
    border: var(--golden-border);
}

a.button.text,
button.text,
.button.text {
    background-color: transparent;
}

a.button.start-icon,
button.start-icon,
.button.start-icon {
    padding-left: var(--b);
}

a.button.end-icon,
button.end-icon,
.button.end-icon {
    padding-right: var(--b);
}

a.button.vertical,
button.vertical,
.button.vertical {
    grid-auto-flow: row;
}

a.button.vertical.start-icon,
button.vertical.start-icon,
.button.vertical.start-icon {
    padding-top: var(--b);
    padding-left: var(--c);
    padding-right: var(--c);
}

a.vertical.end-icon,
button.vertical.end-icon,
.button.vertical.end-icon {
    padding-bottom: var(--b);
    padding-right: var(--c);
    padding-left: var(--c);
}

a.button.large,
button.large,
.button.large {
    font-size: 1.272em;
}
