@import "globals.css";

.flow__2xs>* {
    margin-bottom: .617925em;
}

.flow__xs>* {
    margin-bottom: .887579em;
}

.flow__sm>* {
    margin-bottom: 1.27201em;
}

.flow__md>* {
    margin-bottom: 1.61792em;
}

.flow__lg>* {
    margin-bottom: 2.05818em;
}

.flow__xl>* {
    margin-bottom: 3.3294em;
}

.flow__2xl>* {
    margin-bottom: 4.235em;
}
