@import "globals.css";

.color-primary_lkv {
    color: var(--primary_lkv);
}

.color-onprimary_lkv {
    color: var(--onprimary_lkv);
}

.color-primarycontainer_lkv {
    color: var(--primarycontainer_lkv);
}

.color-onprimarycontainer_lkv {
    color: var(--onprimarycontainer_lkv);
}

.color-secondary_lkv {
    color: var(--secondary_lkv);
}

.color-onsecondary_lkv {
    color: var(--onsecondary_lkv);
}

.color-secondarycontainer_lkv {
    color: var(--secondarycontainer_lkv);
}

.color-onsecondarycontainer_lkv {
    color: var(--onsecondarycontainer_lkv);
}

.color-tertiary_lkv {
    color: var(--tertiary_lkv);
}

.color-ontertiary_lkv {
    color: var(--ontertiary_lkv);
}

.color-tertiarycontainer_lkv {
    color: var(--tertiarycontainer_lkv);
}

.color-ontertiarycontainer_lkv {
    color: var(--ontertiarycontainer_lkv);
}

.color-error_lkv {
    color: var(--error_lkv);
}

.color-onerror_lkv {
    color: var(--onerror_lkv);
}

.color-errorcontainer_lkv {
    color: var(--errorcontainer_lkv);
}

.color-onerrorcontainer_lkv {
    color: var(--onerrorcontainer_lkv);
}

.color-background_lkv {
    color: var(--background_lkv);
}

.color-onbackground_lkv {
    color: var(--onbackground_lkv);
}

.color-surface_lkv {
    color: var(--surface_lkv);
}

.color-onsurface_lkv {
    color: var(--onsurface_lkv);
}

.color-surfacevariant_lkv {
    color: var(--surfacevariant_lkv);
}

.color-onsurfacevariant_lkv {
    color: var(--onsurfacevariant_lkv);
}

.color-outline_lkv {
    color: var(--outline_lkv);
}

.color-outlinevariant_lkv {
    color: var(--outlinevariant_lkv);
}

.color-shadow_lkv {
    color: var(--shadow_lkv);
}

.color-scrim_lkv {
    color: var(--scrim_lkv);
}

.color-inversesurface_lkv {
    color: var(--inversesurface_lkv);
}

.color-inverseonsurface_lkv {
    color: var(--inverseonsurface_lkv);
}

.color-inverseprimary_lkv {
    color: var(--inverseprimary_lkv);
}

.color-success_lkv {
    color: var(--success_lkv);
}

.color-successcontainer_lkv {
    color: var(--successcontainer_lkv);
}

.color-onsuccess_lkv {
    color: var(--onsuccess_lkv);
}

.color-onsuccesscontainer_lkv {
    color: var(--onsuccesscontainer_lkv);
}

.color-warning_lkv {
    color: var(--warning_lkv);
}

.color-warningcontainer_lkv {
    color: var(--warningcontainer_lkv);
}

.color-onwarning_lkv {
    color: var(--onwarning_lkv);
}

.color-onwarningcontainer_lkv {
    color: var(--onwarningcontainer_lkv);
}

.color-info_lkv {
    color: var(--info_lkv);
}

.color-infocontainer_lkv {
    color: var(--infocontainer_lkv);
}

.color-oninfo_lkv {
    color: var(--oninfo_lkv);
}

.color-oninfocontainer_lkv {
    color: var(--oninfocontainer_lkv);
}

.color-primaryfixed_lkv {
    color: var(--primaryfixed_lkv);
}

.color-primaryfixeddim_lkv {
    color: var(--primaryfixeddim_lkv);
}

.color-onprimaryfixed_lkv {
    color: var(--onprimaryfixed_lkv);
}

.color-onprimaryfixedvariant_lkv {
    color: var(--onprimaryfixedvariant_lkv);
}

.color-secondaryfixed_lkv {
    color: var(--secondaryfixed_lkv);
}

.color-secondaryfixeddim_lkv {
    color: var(--secondaryfixeddim_lkv);
}

.color-onsecondaryfixed_lkv {
    color: var(--onsecondaryfixed_lkv);
}

.color-onsecondaryfixedvariant_lkv {
    color: var(--onsecondaryfixedvariant_lkv);
}

.color-tertiaryfixed_lkv {
    color: var(--tertiaryfixed_lkv);
}

.color-tertiaryfixeddim_lkv {
    color: var(--tertiaryfixeddim_lkv);
}

.color-ontertiaryfixed_lkv {
    color: var(--ontertiaryfixed_lkv);
}

.color-ontertiaryfixedvariant_lkv {
    color: var(--ontertiaryfixedvariant_lkv);
}

.color-surfacedim_lkv {
    color: var(--surfacedim_lkv);
}

.color-surfacebright_lkv {
    color: var(--surfacebright_lkv);
}

.color-surfacecontainerlowest_lkv {
    color: var(--surfacecontainerlowest_lkv);
}

.color-surfacecontainerlow_lkv {
    color: var(--surfacecontainerlow_lkv);
}

.color-surfacecontainer_lkv {
    color: var(--surfacecontainer_lkv);
}

.color-surfacecontainerhigh_lkv {
    color: var(--surfacecontainerhigh_lkv);
}

.color-surfacecontainerhighest_lkv {
    color: var(--surfacecontainerhighest_lkv);
}
