:root {
    font-size: 1rem;

    /* Raw size variables */

    --md: 1em;
    /* It's okay to use em here because the root font size
                  has been manually set to 1rem */

    /* cannot be em because right operand in calc must be unitless */
    --scaleFactor: 1.618;

    --sm: calc(var(--md) / var(--scaleFactor));
    --xs: calc(var(--sm) / var(--scaleFactor));
    --2xs: calc(var(--xs) / var(--scaleFactor));

    --lg: calc(var(--md) * var(--scaleFactor));
    --xl: calc(var(--lg) * var(--scaleFactor));
    --2xl: calc(var(--xl) * var(--scaleFactor));

    /*Increments*/

    --wholestep: 1.618;
    /* always equals the scalefactor */
    --halfstep: 1.272;
    /* always equals the sq. root of scalefactor */
    --quarterstep: 1.128;
    /* always equals the sq. root of halfstep */
    --eighthstep: 1.061;
    /* always equals the sq. root of quarterstep */

    --wholestep-dec: 0.618;
    /* equals wholestep - 1 */
    --halfstep-dec: 0.272;
    /* equals halfstep - 1 */
    --quarterstep-dec: 0.128;
    /* equals quarterstep - 1 */
    --eighthstep-dec: 0.061;
    /* equals eighthstep - 1 */

    /* Colors */

    --light__background_lkv: #fefbff;
    --light__onsurface_lkv: #1b1b1f;
    --light__primary_lkv: #4658ac;
    --light__surfacecontainerlowest_lkv: #fff;
    --light__onsurfacevariant_lkv: #45464f;
    --dark__outline_lkv: #90909a;
    --dark__error_lkv: #ffb4ab;
    --dark__primary_lkv: #b9c3ff;

    --light__onprimary_lkv: #fefbff;
    --light__outlinevariant_lkv: #c6c5d0;
    --light__shadow_lkv: #000;
    --light__info_lkv: #1758c7;
    --light__secondary_lkv: #5a5d72;
    --light__outline_lkv: #767680;
    --light__inverseprimary_lkv: #b9c3ff;
    --light__surfacecontainerlow_lkv: #cbdadd;
    --light__successcontainer_lkv: #92f8b4;
    --light__onsuccesscontainer_lkv: #00210f;
    --light__infocontainer_lkv: #dae2ff;
    --light__oninfocontainer_lkv: #001946;
    --light__warningcontainer_lkv: #ffdea7;
    --light__onwarningcontainer_lkv: #271900;
    --light__errorcontainer_lkv: #ffdad6;
    --light__onerrorcontainer_lkv: #410002;
    --light__onsecondarycontainer_lkv: #171b2c;
    --light__primarycontainer_lkv: #dee1ff;
    --light__onprimarycontainer_lkv: #001258;
    --light__onsecondary_lkv: #fff;
    --light__secondarycontainer_lkv: #dfe1f9;
    --light__tertiary_lkv: #76546e;
    --light__ontertiary_lkv: #fff;
    --light__tertiarycontainer_lkv: #ffd7f2;
    --light__ontertiarycontainer_lkv: #2d1228;
    --light__error_lkv: #ba1a1a;
    --light__onerror_lkv: #fff;
    --light__onbackground_lkv: #1b1b1f;
    --light__surface_lkv: #e8eced;
    --light__surfacevariant_lkv: #e3e1ec;
    --light__scrim_lkv: #000;
    --light__inversesurface_lkv: #303034;
    --light__inverseonsurface_lkv: #f3f0f4;
    --light__success_lkv: #006d3d;
    --light__onsuccess_lkv: #fff;
    --light__warning_lkv: #7c5800;
    --light__onwarning_lkv: #fff;
    --light__oninfo_lkv: #fff;
    --light__primaryfixed_lkv: #dee1ff;
    --light__onprimaryfixed_lkv: #001258;
    --light__primaryfixeddim_lkv: #b9c3ff;
    --light__onprimaryfixedvariant_lkv: #2d3f93;
    --light__secondaryfixed_lkv: #dfe1f9;
    --light__onsecondaryfixed_lkv: #171b2c;
    --light__secondaryfixeddim_lkv: #c3c5dd;
    --light__onsecondaryfixedvariant_lkv: #434659;
    --light__tertiaryfixed_lkv: #ffd7f2;
    --light__ontertiaryfixed_lkv: #2d1228;
    --light__tertiaryfixeddim_lkv: #e5bad8;
    --light__ontertiaryfixedvariant_lkv: #5c3c55;
    --light__surfacedim_lkv: #dcd9de;
    --light__surfacebright_lkv: #fbf8fd;
    --light__surfacecontainer_lkv: #f0edf1;
    --light__surfacecontainerhigh_lkv: #eae7ec;
    --light__surfacecontainerhighest_lkv: #e4e1e6;

    --dark__onprimary_lkv: #11277c;
    --dark__primarycontainer_lkv: #2d3f93;
    --dark__onprimarycontainer_lkv: #dee1ff;
    --dark__secondary_lkv: #c3c5dd;
    --dark__onsecondary_lkv: #2c2f42;
    --dark__secondarycontainer_lkv: #434659;
    --dark__onsecondarycontainer_lkv: #dfe1f9;
    --dark__tertiary_lkv: #e5bad8;
    --dark__ontertiary_lkv: #44263e;
    --dark__tertiarycontainer_lkv: #5c3c55;
    --dark__ontertiarycontainer_lkv: #ffd7f2;
    --dark__onerror_lkv: #690005;
    --dark__errorcontainer_lkv: #93000a;
    --dark__onerrorcontainer_lkv: #ffb4ab;
    --dark__background_lkv: #1b1b1f;
    --dark__onbackground_lkv: #e4e1e6;
    --dark__surface_lkv: #131316;
    --dark__onsurface_lkv: #e4e1e6;
    --dark__onsurfacevariant_lkv: #c6c5d0;
    --dark__surfacevariant_lkv: #45464f;
    --dark__shadow_lkv: #000;
    --dark__inversesurface_lkv: #e4e1e6;
    --dark__scrim_lkv: #000;
    --dark__inverseonsurface_lkv: #303034;
    --dark__inverseprimary_lkv: #4658ac;
    --dark__success_lkv: #76db9a;
    --dark__onsuccess_lkv: #00391d;
    --dark__successcontainer_lkv: #00522c;
    --dark__onsuccesscontainer_lkv: #92f8b4;
    --dark__warning_lkv: #f7bd48;
    --dark__onwarning_lkv: #412d00;
    --dark__warningcontainer_lkv: #5e4200;
    --dark__onwarningcontainer_lkv: #ffdea7;
    --dark__info_lkv: #b1c5ff;
    --dark__oninfo_lkv: #002c71;
    --dark__infocontainer_lkv: #00419e;
    --dark__oninfocontainer_lkv: #dae2ff;
    --dark__primaryfixed_lkv: #dee1ff;
    --dark__onprimaryfixed_lkv: #001258;
    --dark__primaryfixeddim_lkv: #b9c3ff;
    --dark__onprimaryfixedvariant_lkv: #2d3f93;
    --dark__secondaryfixed_lkv: #dfe1f9;
    --dark__secondaryfixeddim_lkv: #c3c5dd;
    --dark__onsecondaryfixed_lkv: #171b2c;
    --dark__onsecondaryfixedvariant_lkv: #434659;
    --dark__tertiaryfixed_lkv: #ffd7f2;
    --dark__ontertiaryfixed_lkv: #2d1228;
    --dark__tertiaryfixeddim_lkv: #e5bad8;
    --dark__ontertiaryfixedvariant_lkv: #5c3c55;
    --dark__surfacedim_lkv: #131316;
    --dark__surfacebright_lkv: #39393c;
    --dark__surfacecontainerlowest_lkv: #0e0e11;
    --dark__surfacecontainer_lkv: #1f1f23;
    --dark__surfacecontainerhigh_lkv: #2a2a2d;
    --dark__surfacecontainerhighest_lkv: #353438;
    --dark__surfacecontainerlow_lkv: #1b1b1f;
    --dark__outlinevariant_lkv: #45464f;

    --golden-background: var(--light__background_lkv);
    --golden-onsurface: var(--light__onsurface_lkv);
    --golden-primary: var(--light__primary_lkv);
    --golden-surfacecontainerlowest: var(--light__surfacecontainerlowest_lkv);
    --golden-onsurfacevariant: var(--light__onsurfacevariant_lkv);
    --golden-onprimary: var(--light__onprimary_lkv);
    --golden-outlinevariant: var(--light__outlinevariant_lkv);
    --golden-shadow: var(--light__shadow_lkv);
    --golden-info: var(--light__info_lkv);
    --golden-secondary: var(--light__secondary_lkv);
    --golden-outline: var(--light__outline_lkv);
    --golden-inverseprimary: var(--light__inverseprimary_lkv);
    --golden-surfacecontainerlow: var(--light__surfacecontainerlow_lkv);
    --golden-successcontainer: var(--light__successcontainer_lkv);
    --golden-onsuccesscontainer: var(--light__onsuccesscontainer_lkv);
    --golden-infocontainer: var(--light__infocontainer_lkv);
    --golden-oninfocontainer: var(--light__oninfocontainer_lkv);
    --golden-warningcontainer: var(--light__warningcontainer_lkv);
    --golden-onwarningcontainer: var(--light__onwarningcontainer_lkv);
    --golden-errorcontainer: var(--light__errorcontainer_lkv);
    --golden-onerrorcontainer: var(--light__onerrorcontainer_lkv);
    --golden-onsecondarycontainer: var(--light__onsecondarycontainer_lkv);
    --golden-primarycontainer: var(--light__primarycontainer_lkv);
    --golden-onprimarycontainer: var(--light__onprimarycontainer_lkv);
    --golden-onsecondary: var(--light__onsecondary_lkv);
    --golden-secondarycontainer: var(--light__secondarycontainer_lkv);
    --golden-tertiary: var(--light__tertiary_lkv);
    --golden-ontertiary: var(--light__ontertiary_lkv);
    --golden-tertiarycontainer: var(--light__tertiarycontainer_lkv);
    --golden-ontertiarycontainer: var(--light__ontertiarycontainer_lkv);
    --golden-error: var(--light__error_lkv);
    --golden-onerror: var(--light__onerror_lkv);
    --golden-onbackground: var(--light__onbackground_lkv);
    --golden-surface: var(--light__surface_lkv);
    --golden-surfacevariant: var(--light__surfacevariant_lkv);
    --golden-scrim: var(--light__scrim_lkv);
    --golden-inversesurface: var(--light__inversesurface_lkv);
    --golden-inverseonsurface: var(--light__inverseonsurface_lkv);
    --golden-success: var(--light__success_lkv);
    --golden-onsuccess: var(--light__onsuccess_lkv);
    --golden-warning: var(--light__warning_lkv);
    --golden-onwarning: var(--light__onwarning_lkv);
    --golden-oninfo: var(--light__oninfo_lkv);
    --golden-primaryfixed: var(--light__primaryfixed_lkv);
    --golden-onprimaryfixed: var(--light__onprimaryfixed_lkv);
    --golden-primaryfixeddim: var(--light__primaryfixeddim_lkv);
    --golden-onprimaryfixedvariant: var(--light__onprimaryfixedvariant_lkv);
    --golden-secondaryfixed: var(--light__secondaryfixed_lkv);
    --golden-onsecondaryfixed: var(--light__onsecondaryfixed_lkv);
    --golden-secondaryfixeddim: var(--light__secondaryfixeddim_lkv);
    --golden-onsecondaryfixedvariant: var(--light__onsecondaryfixedvariant_lkv);
    --golden-tertiaryfixed: var(--light__tertiaryfixed_lkv);
    --golden-ontertiaryfixed: var(--light__ontertiaryfixed_lkv);
    --golden-tertiaryfixeddim: var(--light__tertiaryfixeddim_lkv);
    --golden-ontertiaryfixedvariant: var(--light__ontertiaryfixedvariant_lkv);
    --golden-surfacndim: var(--light__surfacedim_lkv);
    --golden-surfacebright: var(--light__surfacebright_lkv);
    --golden-surfacecontainer: var(--light__surfacecontainer_lkv);
    --golden-surfacecontainerhigh: var(--light__surfacecontainerhigh_lkv);
    --golden-surfacecontainerhighest: var(--light__surfacecontainerhighest_lkv);

    color-scheme: light;

    /* Make text look sharper */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;

    /* Icons */

    --icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    --icon-circle: url('data:image/svg+xml,<svg x="0" y="0" width="16px" height="16px" fill="%23e8eaed" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="8" fill="%23FFFFFF"/></svg>');

    /* Semantic Variables 
    *  naming: golden-[element]-[property]-[descriptor]-[state]
    * */

    --golden-background-color: var(--golden-background);
    --golden-font-color: var(--golden-onbackground);
    --golden-line-height: var(--wholestep);

    --golden-border-color: var(--golden-outlinevariant, #727272);
    --golden-border-width: 1px;
    --golden-border: var(--golden-border-width) solid var(--golden-border-color);
    --golden-border-transparent: var(--golden-border-width) solid transparent;

    --golden-border-radius: 0.2em;
    --golden-border-radius-circle: 100em;

    --golden-input-color-onsurface: white;
    --golden-input-color-surfacevariant: var(--golden-surfacevariant);
    --golden-input-color-surface: var(--golden-border-color);
    --golden-input-color-active: var(--light__info_lkv);
    --golden-input-color-accent: var(--dark__info_lkv);

    --golden-input-border-width: 3px;
    --golden-input-border: var(--golden-input-border-width) solid var(--golden-input-color-surface);
    --golden-input-border-active: var(--golden-input-border-width) solid var(--golden-input-color-active);
    --golden-input-border-hidden: var(--golden-input-border-width) solid var(--golden-background-color);
    --golden-input-outline: var(--golden-input-border-width) solid var(--golden-input-color-accent);

}

[data-theme="light"] {
    --golden-background: var(--light__background_lkv);
    --golden-onsurface: var(--light__onsurface_lkv);
    --golden-primary: var(--light__primary_lkv);
    --golden-surfacecontainerlowest: var(--light__surfacecontainerlowest_lkv);
    --golden-onsurfacevariant: var(--light__onsurfacevariant_lkv);
    --golden-onprimary: var(--light__onprimary_lkv);
    --golden-outlinevariant: var(--light__outlinevariant_lkv);
    --golden-shadow: var(--light__shadow_lkv);
    --golden-info: var(--light__info_lkv);
    --golden-secondary: var(--light__secondary_lkv);
    --golden-outline: var(--light__outline_lkv);
    --golden-inverseprimary: var(--light__inverseprimary_lkv);
    --golden-surfacecontainerlow: var(--light__surfacecontainerlow_lkv);
    --golden-successcontainer: var(--light__successcontainer_lkv);
    --golden-onsuccesscontainer: var(--light__onsuccesscontainer_lkv);
    --golden-infocontainer: var(--light__infocontainer_lkv);
    --golden-oninfocontainer: var(--light__oninfocontainer_lkv);
    --golden-warningcontainer: var(--light__warningcontainer_lkv);
    --golden-onwarningcontainer: var(--light__onwarningcontainer_lkv);
    --golden-errorcontainer: var(--light__errorcontainer_lkv);
    --golden-onerrorcontainer: var(--light__onerrorcontainer_lkv);
    --golden-onsecondarycontainer: var(--light__onsecondarycontainer_lkv);
    --golden-primarycontainer: var(--light__primarycontainer_lkv);
    --golden-onprimarycontainer: var(--light__onprimarycontainer_lkv);
    --golden-onsecondary: var(--light__onsecondary_lkv);
    --golden-secondarycontainer: var(--light__secondarycontainer_lkv);
    --golden-tertiary: var(--light__tertiary_lkv);
    --golden-ontertiary: var(--light__ontertiary_lkv);
    --golden-tertiarycontainer: var(--light__tertiarycontainer_lkv);
    --golden-ontertiarycontainer: var(--light__ontertiarycontainer_lkv);
    --golden-error: var(--light__error_lkv);
    --golden-onerror: var(--light__onerror_lkv);
    --golden-onbackground: var(--light__onbackground_lkv);
    --golden-surface: var(--light__surface_lkv);
    --golden-surfacevariant: var(--light__surfacevariant_lkv);
    --golden-scrim: var(--light__scrim_lkv);
    --golden-inversesurface: var(--light__inversesurface_lkv);
    --golden-inverseonsurface: var(--light__inverseonsurface_lkv);
    --golden-success: var(--light__success_lkv);
    --golden-onsuccess: var(--light__onsuccess_lkv);
    --golden-warning: var(--light__warning_lkv);
    --golden-onwarning: var(--light__onwarning_lkv);
    --golden-oninfo: var(--light__oninfo_lkv);
    --golden-primaryfixed: var(--light__primaryfixed_lkv);
    --golden-onprimaryfixed: var(--light__onprimaryfixed_lkv);
    --golden-primaryfixeddim: var(--light__primaryfixeddim_lkv);
    --golden-onprimaryfixedvariant: var(--light__onprimaryfixedvariant_lkv);
    --golden-secondaryfixed: var(--light__secondaryfixed_lkv);
    --golden-onsecondaryfixed: var(--light__onsecondaryfixed_lkv);
    --golden-secondaryfixeddim: var(--light__secondaryfixeddim_lkv);
    --golden-onsecondaryfixedvariant: var(--light__onsecondaryfixedvariant_lkv);
    --golden-tertiaryfixed: var(--light__tertiaryfixed_lkv);
    --golden-ontertiaryfixed: var(--light__ontertiaryfixed_lkv);
    --golden-tertiaryfixeddim: var(--light__tertiaryfixeddim_lkv);
    --golden-ontertiaryfixedvariant: var(--light__ontertiaryfixedvariant_lkv);
    --golden-surfacedim_lkv: var(--light__surfacedim_lkv);
    --golden-surfacebright: var(--light__surfacebright_lkv);
    --golden-surfacecontainer: var(--light__surfacecontainer_lkv);
    --golden-surfacecontainerhigh: var(--light__surfacecontainerhigh_lkv);
    --golden-surfacecontainerhighest: var(--light__surfacecontainerhighest_lkv);
    color-scheme: light;
}

[data-theme="dark"] {
    --golden-background: var(--dark__background_lkv);
    --golden-onsurface: var(--dark__onsurface_lkv);
    --golden-primary: var(--dark__primary_lkv);
    --golden-surfacecontainerlowest: var(--dark__surfacecontainerlowest_lkv);
    --golden-onsurfacevariant: var(--dark__onsurfacevariant_lkv);
    --golden-onprimary: var(--dark__onprimary_lkv);
    --golden-outlinevariant: var(--dark__outlinevariant_lkv);
    --golden-shadow: var(--dark__shadow_lkv);
    --golden-info: var(--dark__info_lkv);
    --golden-secondary: var(--dark__secondary_lkv);
    --golden-outline: var(--dark__outline_lkv);
    --golden-inverseprimary: var(--dark__inverseprimary_lkv);
    --golden-surfacecontainerlow: var(--dark__surfacecontainerlow_lkv);
    --golden-successcontainer: var(--dark__successcontainer_lkv);
    --golden-onsuccesscontainer: var(--dark__onsuccesscontainer_lkv);
    --golden-infocontainer: var(--dark__infocontainer_lkv);
    --golden-oninfocontainer: var(--dark__oninfocontainer_lkv);
    --golden-warningcontainer: var(--dark__warningcontainer_lkv);
    --golden-onwarningcontainer: var(--dark__onwarningcontainer_lkv);
    --golden-errorcontainer: var(--dark__errorcontainer_lkv);
    --golden-onerrorcontainer: var(--dark__onerrorcontainer_lkv);
    --golden-onsecondarycontainer: var(--dark__onsecondarycontainer_lkv);
    --golden-primarycontainer: var(--dark__primarycontainer_lkv);
    --golden-onprimarycontainer: var(--dark__onprimarycontainer_lkv);
    --golden-onsecondary: var(--dark__onsecondary_lkv);
    --golden-secondarycontainer: var(--dark__secondarycontainer_lkv);
    --golden-tertiary: var(--dark__tertiary_lkv);
    --golden-ontertiary: var(--dark__ontertiary_lkv);
    --golden-tertiarycontainer: var(--dark__tertiarycontainer_lkv);
    --golden-ontertiarycontainer: var(--dark__ontertiarycontainer_lkv);
    --golden-error: var(--dark__error_lkv);
    --golden-onerror: var(--dark__onerror_lkv);
    --golden-onbackground: var(--dark__onbackground_lkv);
    --golden-surface: var(--dark__surface_lkv);
    --golden-surfacevariant: var(--dark__surfacevariant_lkv);
    --golden-scrim: var(--dark__scrim_lkv);
    --golden-inversesurface: var(--dark__inversesurface_lkv);
    --golden-inverseonsurface: var(--dark__inverseonsurface_lkv);
    --golden-success: var(--dark__success_lkv);
    --golden-onsuccess: var(--dark__onsuccess_lkv);
    --golden-warning: var(--dark__warning_lkv);
    --golden-onwarning: var(--dark__onwarning_lkv);
    --golden-oninfo: var(--dark__oninfo_lkv);
    --golden-primaryfixed: var(--dark__primaryfixed_lkv);
    --golden-onprimaryfixed: var(--dark__onprimaryfixed_lkv);
    --golden-primaryfixeddim: var(--dark__primaryfixeddim_lkv);
    --golden-onprimaryfixedvariant: var(--dark__onprimaryfixedvariant_lkv);
    --golden-secondaryfixed: var(--dark__secondaryfixed_lkv);
    --golden-onsecondaryfixed: var(--dark__onsecondaryfixed_lkv);
    --golden-secondaryfixeddim: var(--dark__secondaryfixeddim_lkv);
    --golden-onsecondaryfixedvariant: var(--dark__onsecondaryfixedvariant_lkv);
    --golden-tertiaryfixed: var(--dark__tertiaryfixed_lkv);
    --golden-ontertiaryfixed: var(--dark__ontertiaryfixed_lkv);
    --golden-tertiaryfixeddim: var(--dark__tertiaryfixeddim_lkv);
    --golden-ontertiaryfixedvariant: var(--dark__ontertiaryfixedvariant_lkv);
    --golden-surfacedim_lkv: var(--dark__surfacedim_lkv);
    --golden-surfacebright: var(--dark__surfacebright_lkv);
    --golden-surfacecontainer: var(--dark__surfacecontainer_lkv);
    --golden-surfacecontainerhigh: var(--dark__surfacecontainerhigh_lkv);
    --golden-surfacecontainerhighest: var(--dark__surfacecontainerhighest_lkv);
    color-scheme: dark;
}

[data-theme="light"] {
    --golden-background: var(--light__background_lkv);
    --golden-onsurface: var(--light__onsurface_lkv);
    --golden-primary: var(--light__primary_lkv);
    --golden-surfacecontainerlowest: var(--light__surfacecontainerlowest_lkv);
    --golden-onsurfacevariant: var(--light__onsurfacevariant_lkv);
    --golden-onprimary: var(--light__onprimary_lkv);
    --golden-outlinevariant: var(--light__outlinevariant_lkv);
    --golden-shadow: var(--light__shadow_lkv);
    --golden-info: var(--light__info_lkv);
    --golden-secondary: var(--light__secondary_lkv);
    --golden-outline: var(--light__outline_lkv);
    --golden-inverseprimary: var(--light__inverseprimary_lkv);
    --golden-surfacecontainerlow: var(--light__surfacecontainerlow_lkv);
    --golden-successcontainer: var(--light__successcontainer_lkv);
    --golden-onsuccesscontainer: var(--light__onsuccesscontainer_lkv);
    --golden-infocontainer: var(--light__infocontainer_lkv);
    --golden-oninfocontainer: var(--light__oninfocontainer_lkv);
    --golden-warningcontainer: var(--light__warningcontainer_lkv);
    --golden-onwarningcontainer: var(--light__onwarningcontainer_lkv);
    --golden-errorcontainer: var(--light__errorcontainer_lkv);
    --golden-onerrorcontainer: var(--light__onerrorcontainer_lkv);
    --golden-onsecondarycontainer: var(--light__onsecondarycontainer_lkv);
    --golden-primarycontainer: var(--light__primarycontainer_lkv);
    --golden-onprimarycontainer: var(--light__onprimarycontainer_lkv);
    --golden-onsecondary: var(--light__onsecondary_lkv);
    --golden-secondarycontainer: var(--light__secondarycontainer_lkv);
    --golden-tertiary: var(--light__tertiary_lkv);
    --golden-ontertiary: var(--light__ontertiary_lkv);
    --golden-tertiarycontainer: var(--light__tertiarycontainer_lkv);
    --golden-ontertiarycontainer: var(--light__ontertiarycontainer_lkv);
    --golden-error: var(--light__error_lkv);
    --golden-onerror: var(--light__onerror_lkv);
    --golden-onbackground: var(--light__onbackground_lkv);
    --golden-surface: var(--light__surface_lkv);
    --golden-surfacevariant: var(--light__surfacevariant_lkv);
    --golden-scrim: var(--light__scrim_lkv);
    --golden-inversesurface: var(--light__inversesurface_lkv);
    --golden-inverseonsurface: var(--light__inverseonsurface_lkv);
    --golden-success: var(--light__success_lkv);
    --golden-onsuccess: var(--light__onsuccess_lkv);
    --golden-warning: var(--light__warning_lkv);
    --golden-onwarning: var(--light__onwarning_lkv);
    --golden-oninfo: var(--light__oninfo_lkv);
    --golden-primaryfixed: var(--light__primaryfixed_lkv);
    --golden-onprimaryfixed: var(--light__onprimaryfixed_lkv);
    --golden-primaryfixeddim: var(--light__primaryfixeddim_lkv);
    --golden-onprimaryfixedvariant: var(--light__onprimaryfixedvariant_lkv);
    --golden-secondaryfixed: var(--light__secondaryfixed_lkv);
    --golden-onsecondaryfixed: var(--light__onsecondaryfixed_lkv);
    --golden-secondaryfixeddim: var(--light__secondaryfixeddim_lkv);
    --golden-onsecondaryfixedvariant: var(--light__onsecondaryfixedvariant_lkv);
    --golden-tertiaryfixed: var(--light__tertiaryfixed_lkv);
    --golden-ontertiaryfixed: var(--light__ontertiaryfixed_lkv);
    --golden-tertiaryfixeddim: var(--light__tertiaryfixeddim_lkv);
    --golden-ontertiaryfixedvariant: var(--light__ontertiaryfixedvariant_lkv);
    --golden-surfacedim_lkv: var(--light__surfacedim_lkv);
    --golden-surfacebright: var(--light__surfacebright_lkv);
    --golden-surfacecontainer: var(--light__surfacecontainer_lkv);
    --golden-surfacecontainerhigh: var(--light__surfacecontainerhigh_lkv);
    --golden-surfacecontainerhighest: var(--light__surfacecontainerhighest_lkv);
    color-scheme: light;
}
