@import "colors.css";

:root {
    font-size: 1rem;

    /* Raw size variables */

    --md: 1em;
    /* It's okay to use em here because the root font size
                  has been manually set to 1rem */

    /* cannot be em because right operand in calc must be unitless */
    --scaleFactor: 1.618;

    --sm: calc(var(--md) / var(--scaleFactor));
    --xs: calc(var(--sm) / var(--scaleFactor));
    --2xs: calc(var(--xs) / var(--scaleFactor));

    --lg: calc(var(--md) * var(--scaleFactor));
    --xl: calc(var(--lg) * var(--scaleFactor));
    --2xl: calc(var(--xl) * var(--scaleFactor));

    /*Increments*/

    --wholestep: var(--scaleFactor);
    --halfstep: sqrt(var(--wholestep));
    --quarterstep: sqrt(var(--halfstep));
    --eighthstep: sqrt(var(--quarterstep));

    --wholestep-dec: calc(var(--wholestep) - 1);
    --halfstep-dec: calc(var(--halfstep) - 1);
    --quarterstep-dec: calc(var(--quarterstep) - 1);
    --eighthstep-dec: calc(var(--eighthstep) - 1);

    --lineHeightInEms: calc(1em * var(--wholestep));

    /* Make text look sharper */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;

    /* Icons */

    --icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    --icon-circle: url('data:image/svg+xml,<svg x="0" y="0" width="16px" height="16px" fill="%23e8eaed" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="8" fill="%23FFFFFF"/></svg>');

    /* Semantic Variables 
    *  naming: golden-[element]-[property]-[descriptor]-[state]
    * */

    --golden-background-color: var(--md-sys-color-background);
    --golden-font-color: var(--md-sys-color-on-background);

    --golden-border-color: var(--md-sys-color-outline-variant, #727272);
    --golden-border-width: 1px;
    --golden-border: var(--golden-border-width) solid var(--golden-border-color);
    --golden-border-transparent: var(--golden-border-width) solid transparent;

    --golden-border-radius: 0.2em;
    --golden-border-radius-circle: 50em;
}

textarea,
label,
input {
    --golden-input-color-onsurface: white;
    --golden-input-color-font: var(--md-sys-color-on-surface);
    --golden-input-color-element-bg: var(--md-sys-color-surface);
    --golden-input-color-surfacevariant: var(--md-sys-color-on-surface-variant);
    --golden-input-color-surface: var(--golden-border-color);
    --golden-input-color-active: var(--md-sys-color-primary);
    --golden-input-color-accent: var(--md-sys-color-primary-container);

    --golden-input-border-width: 3px;
    --golden-input-border: var(--golden-input-border-width) solid var(--golden-input-color-surface);
    --golden-input-border-active: var(--golden-input-border-width) solid var(--golden-input-color-active);
    --golden-input-border-hidden: var(--golden-input-border-width) solid var(--golden-background-color);
    --golden-input-outline: var(--golden-input-border-width) solid var(--golden-input-color-accent);
    --golden-input-border-invalid: var(--golden-input-border-width) solid var(--md-sys-color-error);
    --golden-input-border-valid: var(--golden-input-border-width) solid var(--md-extended-color-success-color);
}
