[type="checkbox"],
[type="radio"] {
    --border-width: 3px;
    -moz-appearance: none;
    appearance: none;
    width: 1.25em;
    height: 1.25em;
    margin-top: -.125em;
    margin-inline-end: var(--xs);
    border: var(--border-width) solid var(--border-color);
    border-radius: 0.2em;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.2s background-color ease-in-out;
}

[type="radio"] {
    border-radius: 100em;
}


[type="checkbox"]:checked,
[type="checkbox"]:checked:active,
[type="checkbox"]:checked:focus,
[type="radio"]:checked,
[type="radio"]:checked:active,
[type="radio"]:checked:focus {
    background-color: var(--light__info_lkv);
    border: var(--border-width) solid var(--light__info_lkv);
    background-image: var(--icon-checkbox);
    background-position: center;
    background-size: 0.80em auto;
    background-repeat: no-repeat;
}

label[aria-disabled="true"],
[type="checkbox"]:disabled,
[type="radio"]:disabled {
    filter: opacity(0.5);
}


[type="radio"]:checked,
[type="radio"]:checked:focus,
[type="radio"]:checked:active {
    background-image: var(--icon-circle);
    background-size: 0.5em;
    border-radius: 100em;
}

[type="radio"]:focus,
[type="checkbox"]:focus {
    outline: var(--border-width) solid var(--dark__info_lkv);
    border: var(--border-width) solid var(--light__info_lkv);
}

legend {
    margin-bottom: var(--md);
}

fieldset {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--lg);
}

label:has(input) {
    margin-bottom: var(--sm);
}

label:not(input) {
    margin-right: var(--md);
}

fieldset:has(label input) {
    flex-direction: column;
}

[role="switch"] {
    transition: 0.2s background-position ease-in-out,
        0.2s background-color ease-in-out;
    --switch-border-width: 0.1em;
    --switch-color: transparent;
    border: none !important;
    background-color: var(--switch-color);
}

[role="switch"]:checked,
[role="switch"]:checked:active,
[role="switch"]:checked:focus,
[role="switch"] {
    --switch-color: var(--light__info_lkv);
    background-image: var(--icon-circle);
    background-position: 90% 50%;
    background-repeat: no-repeat;
    background-size: 1em;
    border-radius: 100em;
    width: 2.25em;
    height: 1.25em;
}

[role="switch"]:active,
[role="switch"]:focus,
[role="switch"] {
    background-position: 10% 50%;
    --switch-color: var(--border-color);
}
