[type="checkbox"],
[type="radio"] {
    -moz-appearance: none;
    appearance: none;
    width: 1.25em;
    height: 1.25em;
    margin-top: -.125em;
    margin-inline-end: var(--xs);
    border: var(--golden-input-border);
    border-radius: var(--golden-border-radius);
    vertical-align: middle;
    cursor: pointer;
    transition: 0.2s background-color ease-in-out;
}

[type="radio"] {
    border-radius: var(--golden-border-radius-circle);
    position: relative;
}

[type="radio"]:checked::after {
    content: " ";
    position: absolute;
    top: 22.5%;
    right: 22.5%;
    background-color: var(--golden-input-color-onsurface);
    height: 55%;
    width: 55%;
    border-radius: var(--golden-border-radius-circle);
    z-index: 100;
}


[type="checkbox"]:checked,
[type="checkbox"]:checked:active,
[type="checkbox"]:checked:focus,
[type="radio"]:checked,
[type="radio"]:checked:active,
[type="radio"]:checked:focus {
    background-color: var(--golden-input-color-active);
    border: var(--golden-input-border-active);
    background-image: var(--icon-checkbox);
    background-position: center;
    background-size: 0.80em auto;
    background-repeat: no-repeat;
}

label[aria-disabled="true"],
[type="checkbox"]:disabled,
[type="radio"]:disabled {
    filter: opacity(0.5);
}


[type="radio"]:checked,
[type="radio"]:checked:focus,
[type="radio"]:checked:active {
    background-size: 0.5em;
    border-radius: var(--golden-border-radius-circle);
}

[type="radio"]:focus,
[type="checkbox"]:focus {
    outline: var(--golden-input-outline);
    border: var(--golden-input-border-active);
}

legend {
    margin-bottom: var(--md);
}

fieldset {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--lg);
}

label:has([type="radio"]),
label:has([type="checkbox"]) {
    margin-bottom: var(--sm);
}

label:not([type="radio"]),
label:not([type="checkbox"]) {
    margin-right: var(--md);
}

label:has([role="switch"]) {
    margin: 0;
}

fieldset:has(label [type="radio"]),
fieldset:has(label [type="checkbox"]) {
    flex-direction: column;
}

[role="switch"] {
    transition: 0.2s background-position ease-in-out,
        0.2s background-color ease-in-out;
    border: none !important;
    background-color: var(--golden-input-color);
    width: 2.35em;
    height: 1.25em;
    margin-top: 0;
    margin-bottom: 0.125em;
    position: relative;
}

[role="switch"]::after {
    transition: 0.2s left ease-in-out;
    content: " ";
    position: absolute;
    background-color: var(--golden-input-color-onsurface);
    border-radius: var(--golden-border-radius-circle);
    z-index: 100;

    height: 1em;
    width: 1em;
    top: 10%;
    left: 5.5%;
}

[role="switch"]:checked::after {
    left: 52.5%;
}


[role="switch"]:checked,
[role="switch"]:checked:active,
[role="switch"]:checked:focus,
[role="switch"] {
    background-color: var(--golden-input-color-active);
    background-image: none;
    background-position: 90% 50%;
    background-repeat: no-repeat;
    background-size: 1em;
    border-radius: var(--golden-border-radius-circle);
}

[role="switch"]:active,
[role="switch"]:focus,
[role="switch"] {
    background-position: 10% 50%;
    background-color: var(--golden-input-color-surface);
}

label {
    position: relative;
}

label .icons {
    position: absolute;
    top: 0em;
    left: 0;
    width: 2.35em;
    height: 1.25em;
    user-select: none;
    -webkit-user-select: none;
    clip-path: rect(auto auto auto auto round var(--golden-border-radius-circle));
    color: var(--golden-input-color-onsurface);
}

label .icons .material-symbols-outlined,
label .icons .material-symbols-filled {
    position: absolute;
    transition: 0.2s left ease-in-out, 0.2s right ease-in-out;
}

label .icons :nth-child(1) {
    transform: scale(75%);
}

label .icons :nth-child(2) {
    transform: scale(75%);
}

[role="switch"]:checked+.icons :nth-child(1) {
    left: 0;
}

[role="switch"]:checked+.icons :nth-child(2) {
    right: -1em;
}

[role="switch"]+.icons :nth-child(1) {
    left: -1em;
}

[role="switch"]+.icons :nth-child(2) {
    right: -0.02em;
}

label:has([type="range"]) {
    margin-right: 0;
}

[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 7px;
    background-color: var(--golden-input-color-surfacevariant);
    border-radius: var(--golden-border-radius-circle);
    border: none;
    box-shadow: none;
    display: flex;
    margin: var(--sm) 0;
}

[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    width: 25px;
    border-radius: var(--golden-border-radius-circle);
    background-color: var(--golden-input-color-surface);
    cursor: pointer;
    border: var(--golden-input-border-hidden);
    box-shadow: none;
}

[type="range"]::-moz-range-thumb {
    height: 25px;
    width: 25px;
    border-radius: var(--golden-border-radius-circle);
    background-color: var(--golden-input-color-surface);
    cursor: pointer;
    border: var(--golden-input-border-hidden);
    box-shadow: none;
}

[type="range"]:focus::-webkit-slider-thumb,
[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.3);
    background-color: var(--golden-input-color-surface);
}

[type="range"]:focus::-moz-range-thumb,
[type="range"]:active::-moz-range-thumb {
    transform: scale(1.3);
    background-color: var(--golden-input-color-active);
}

[type="range"]:active,
[type="range"]:focus {
    background-color: var(--golden-input-color-surface);
}
